<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NatureNet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9F9BB3B71C9B214C0076E68E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F9BB3CB1C9B214C0076E68E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F9BB3D61C9B214C0076E68E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
